In [3]:
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
iris=sns.load_dataset('iris')

In [5]:
iris = sns.load_dataset('iris')
iris.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
12            4.8          3.0           1.4          0.1      setosa
95            5.7          3.0           4.2          1.2  versicolor
26            5.0          3.4           1.6          0.4      setosa
132           6.4          2.8           5.6          2.2   virginica
83            6.0          2.7           5.1          1.6  versicolor
149           5.9          3.0           5.1          1.8   virginica
2             4.7          3.2           1.3          0.2      setosa
0             5.1          3.5           1.4          0.2      setosa
121           5.6          2.8           4.9          2.0   virginica
66            5.6          3.0           4.5          1.5  versicolor

* get dummies method - categories --> Columns
* automatically detects the catagorical columns as well

In [6]:
df_onehot = pd.get_dummies(iris, columns=['species'])

df_onehot['species_setosa'].dtype

df_onehot.sample(10)

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
143,6.8,3.2,5.9,2.3,False,False,True
96,5.7,2.9,4.2,1.3,False,True,False
44,5.1,3.8,1.9,0.4,True,False,False
103,6.3,2.9,5.6,1.8,False,False,True
99,5.7,2.8,4.1,1.3,False,True,False
53,5.5,2.3,4.0,1.3,False,True,False
116,6.5,3.0,5.5,1.8,False,False,True
52,6.9,3.1,4.9,1.5,False,True,False
55,5.7,2.8,4.5,1.3,False,True,False
144,6.7,3.3,5.7,2.5,False,False,True

In [10]:
penguins_onehot = pd.get_dummies(penguins, columns=['species', 'island'])

df_onehot

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,True,False,False
1,4.9,3.0,1.4,0.2,True,False,False
2,4.7,3.2,1.3,0.2,True,False,False
3,4.6,3.1,1.5,0.2,True,False,False
4,5.0,3.6,1.4,0.2,True,False,False
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,False,False,True
146,6.3,2.5,5.0,1.9,False,False,True
147,6.5,3.0,5.2,2.0,False,False,True
148,6.2,3.4,5.4,2.3,False,False,True
149,5.9,3.0,5.1,1.8,False,False,True

In [7]:
df = pd.DataFrame([ 1,2,np.nan,1,1,1,3,3,3,2,2,2,3,3,3,1,1,1,1], columns= ["first"])
df.head()

df['first'].dtype

df['first'] = df['first'].astype('category')
df['first'].dtype

df_encoded = pd.get_dummies(df, columns=['first'], dummy_na=False)
df_encoded.head()
# df_encoded.info()

   first_1.0  first_2.0  first_3.0
0       True      False      False
1      False       True      False
2      False      False      False
3       True      False      False
4       True      False      False

can also use sklearn.preprocessing method
* OneHotEncoder
* the other method to to label encoding?????? --> LabelEncoder

In [8]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

# Creating the encoder
encoder = OneHotEncoder( sparse_output=False, handle_unknown='ignore')

# Ignore the missing values if handle_unknown = 'ignore'"in class label encoding .ipynb"

In [9]:
encoder.fit_transform(iris)

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]], shape=(150, 126))

In [10]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

# Creating the encoder
encoder = OneHotEncoder( sparse_output=False, handle_unknown='ignore')

In [11]:
iris_onehot = iris.copy()

encoder = OneHotEncoder( sparse_output = False, handle_unknown='ignore')

catagorical_cols = ['species']

ecoded_values = encoder.fit_transform(iris_onehot[catagorical_cols]) # species

# names of new columns, that don't exist yet
new_columns = encoder.get_feature_names_out(catagorical_cols)
new_columns
# ['species_setosa', 'species_versicolor', 'species_virginica']

# iris_onehot

# adding the columns to the dataframe

iris_onehot[new_columns] = ecoded_values

iris_onehot.drop(columns=['species'], inplace = True)
iris_onehot

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,1.0,0.0,0.0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,0.0,0.0,1.0

In [12]:
iris_onehot = iris.copy()

encoder = OneHotEncoder(
    sparse_output=False,
    handle_unknown='ignore'
)

catagorical_cols = ['species']

iris_onehot = encoder.fit_transform(iris_onehot[catagorical_cols])
iris_onehot

# adding the columns to the dataframe

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [14]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# copy dataframe
iris_onehot = iris.copy()
# create encoder
encoder = OneHotEncoder(
    sparse_output=False,
    handle_unknown='ignore'
)
# categorical column
categorical_cols = ['species']
# fit & transform
encoded_array = encoder.fit_transform(
    iris_onehot[categorical_cols]
)
# convert to DataFrame
encoded_df = pd.DataFrame(
    encoded_array,
    columns=encoder.get_feature_names_out(categorical_cols),
    index=iris_onehot.index
)
# drop original column & join encoded columns
iris_onehot = iris_onehot.drop(columns=categorical_cols)
iris_onehot = pd.concat([iris_onehot, encoded_df], axis=1)

iris_onehot

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,1.0,0.0,0.0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,0.0,0.0,1.0